:root {
  --orange: #FC7341;
  --orange-light: #faf1ed;
  --orange-light-2: #fff3ef;
}

.bg-orange {
  background-color: var(--orange);
}

.btn {
  font-size: small;
}

.btn-orange {
  background-color: var(--orange);
  color: white !important;
}

.btn-outline-orange:focus, .btn-orange:focus {
  outline:0;
  box-shadow:0 0 0 .25rem var(--orange-light);
}

.btn-outline-orange {
  border: 1px solid var(--orange);
  color: var(--orange) !important;
}

.btn-orange-light {
  background-color: var(--orange-light);
  color: var(--orange) !important;
}

.btn-orange-light:focus {
  outline:0;
  box-shadow: none;
}

.main {
  margin-top: 120px;
  margin-bottom: 60px;
}

.h-20 {
  height: 20px;
}

.h-30 {
  height: 30px;
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-200 {
  height: 200px !important;
}

.w-20 {
  width: 20px;
}

.w-30 {
  width: 30px;
}

.login-card {
  transition: 0.2s;
  margin-bottom: 1rem;
}

.login-card:hover {
  border: 1px solid var(--orange) !important;
}

.alert {
  overflow-wrap: break-word;
}

.alert-orange-light {
  background-color: var(--orange-light-2);
}

.fw-semibold {
  font-weight: 500 !important;
}

.text-sm {
  font-size: small;
}

.text-md {
  font-size: medium;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--orange);
}

.nav-pills .nav-link {
  background: var(--orange-light);
  color: var(--orange);
}

label {
  font-size: small;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-control {
  font-size: 13px;
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.form-control:focus {
  border-color: #fd9670;
  box-shadow: none;
}

.form-group {
  margin-bottom: 1rem;
}

.line-between {
  overflow: hidden;
  text-align: center;
}

.line-between:before,
.line-between:after {
  background-color: #dee2e6;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-between:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-between:after {
  left: 0.5em;
  margin-right: -50%;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.tokenfield.focus {
  border-color: #fd9670 !important;
  box-shadow: none;
}

.tokenfield .token-input {
  margin-bottom: 0;
}

.tokenfield .token {
  margin: -1px 10px 8px 0;
  border: 1px solid var(--orange);
  background-color: var(--orange-light-2);
}